body {
  margin-top: 50px;
  background-color: #222222;
}
a {
	color: #FFFFFF;
}
#banner {
  width: 480px;
  height: 82px;
  margin-left:auto;
  margin-right:auto;
  background: url('banner.png');
  border: 3px;
  border-style: solid;
  border-color: #333333;

}
#navt {}
#navt:hover  #navbar {  padding-top: 5px;
  padding-bottom: 5px;   background-color: black; height: 60px; visibility:visible}
#navt:hover  #banner {border-color: #00FFFF;}
  #navbar {
	  text-align: center;
  height: 0px;
  margin-left: auto;
  visibility:hidden;
  margin-right: auto;
  margin-top: 0;
  width: 810px;
  color: red;
  background-color: black;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0px;
  transition:height 0.3s;

}

 #navbar li {
  display: inline-block;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 4px;
  font-size: 12pt;
}

#content {
 margin-left: auto;
 margin-right: auto;
 width: 800px;
 border: 5px;
 border-style: solid;
 border-color: #111111;
 background-color: #333333; 
}
li {
border: -2px;
border-style: solid;
border-radius: 5px;
background-color: #2F2F2F;
border-color: #222222;
}